{% extends "base_team.html" %}
{% block team_content %}
  <h2>{% if client %}Edit{% else %}Create{% endif %} Client</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.name.label }}{{ form.name(class="form-control") }}</div>
    <div class="mb-3">{{ form.email.label }}{{ form.email(class="form-control") }}</div>
    <div class="mb-3">{{ form.address.label }}{{ form.address(class="form-control") }}</div>
    <div>{{ form.submit(class="btn btn-primary") }}</div>
  </form>
{% endblock %}